*{
    padding: 0;
    margin: 0;
    list-style: none;
    outline: none;
    border: none;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/** =====================================
  * stylesheet to login pages
  * =====================================
  */
body{
    position: absolute;
    left: 0;

    height: 100%;
    width: 100%;
    
    background: #333;
    background-image: url(../assets/images/login-background.jpg);
    background-size: cover;
}

section#conteudo-view{
    position: absolute;
    right: 0;
    float: right;
    padding: 20px;
    

    width: 300px;
    min-height: 100%;
    height: auto;

    background: rgba(0,0,0,.7);
}
section#conteudo-view h1{
    float: left;
    width: 100%;
    margin-top: 50px;
    text-align: center;

    font: 3em 'Noto Sans JP', sans-serif;
    color: #f3f3f3;
}
section#conteudo-view h3, section#conteudo-view form p{
    float: left;
    width: 100%;
    
    font: .8em 'Noto Sans JP', sans-serif;
    font-weight: lighter;
    text-align: center;
    color: #f3f3f3;
}

section#conteudo-view form, section#conteudo-view form label{
    float: left;
    width: 100%;
    margin-bottom: 10px;
}
section#conteudo-view form{
    margin-top: 40px;
}
section#conteudo-view form p{
    font-size: 1.05em;
    margin-bottom: 5px;
}
section#conteudo-view form label input, section#conteudo-view form input[type="submit"]{
    float: left;
    padding: 0 20px;

    width: 100%;
    height: 40px;
    
    border-radius: 10px;
    border: 2px solid #000308;
    
    color: #959595;
    font: 1em 'Noto Sans JP', sans-serif;
}
section#conteudo-view form input[type="submit"]{
    float: right;
    text-align: center;

    width: 60%;    

    background: #505050;
    color: #f9f9f9;
    font: 1em 'Noto Sans JP', sans-serif;
}
@media(max-width:768px){
    section#conteudo-view{
        width: 100%;
    }
    section#conteudo-view form input[type="submit"]{
        width: 100% !important;
    }
}